    
    {% load staticfiles %}
    <link href="{% static 'ytb_downloader/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'ytb_downloader/stylesheet.css' %}?v=11" rel="stylesheet">
    <link href="//vjs.zencdn.net/7.3.0/video-js.min.css" rel="stylesheet">
    <script src="{% static 'ytb_downloader/script.js' %}?v=10"></script>
    <script src="//vjs.zencdn.net/7.3.0/video.min.js"></script>

    <div class="text-center">
    
<form class="form-signin" method="POST" action="{% url 'ytb_downloader:vdownload' %}">
{% csrf_token %}
      <h1 class="h3 mb-3 font-weight-normal">Youtube Link Here</h1>
      <label for="inputEmail" class="sr-only">Link</label>
      <input type="text" id="inputurl" name="inputurl" class="form-control" placeholder="https://www.youtube.com/..." required="" autofocus="">
        
      <button id="download" name="download" class="btn btn-lg btn-primary btn-block" type="submit">Download</button>
      <div id="video_result" name="video_result" class="mt-5 mb-5"></div>
      {% comment %} <a id="video_link" name="video_link" href="" target="_blank">click the link</a> {% endcomment %}
    </form>



<video
    id="my-player"
    class="video-js hide"
    controls
    preload="auto"
    poster=""
    data-setup='{}'>
  <source src="" type="video/mp4"></source>
  <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a
    web browser that
    <a href="/static/video1.mp4" target="_blank">
      supports HTML5 video
    </a>
  </p>
</video>

